.active {
	color: #EE7F00;
	background-color: #333;	
}

.btn-default {
	color: #ccc;
	background-color: #515151;
	background-image: linear-gradient(#515151,#333);
	border-color: #515151;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	color: #EE7F00;
	background-color: #333;
	background-image: none;
	border-color: #333;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type='range'] {
	-webkit-appearance: none !important;
	background: #515151;
	border-radius: 10px;
	height: 7px;
}

input[type='range']::-moz-range-track {
	-webkit-appearance: none;
	background-color: #515151;
	height: 7px;
}

input[type='range']::-ms-track {
	-webkit-appearance: none;
	background-color: #515151;
	height: 7px;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background: #EE7F00;
	height: 14px;
	width: 14px;
	border-radius: 7px;
}

input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	background-color: #EE7F00;
	color:#EE7F00;
	width: 14;
	height: 14px;
	border-radius: 7px;
}

#login {
	width: 350px;
	height: 350px;
	border: 4px solid;
	border-color: #ccc;
	margin: auto;
	margin-top: 250px;
	padding: 20px;
	text-align: center;
}

#loginBtn {
	width: 100%;
	background-color: #515151;
	background-image: linear-gradient(#515151,#333);
	color: #CCC;
	border-color: #515151;
}

#loginBtn:hover, #loginBtn:active {
	background-color: #333;
	border-color: #333;
	background-image: none;
	color: #ee7f00;
}
.menu_active {
	color: red;	
}

.navigation {
	height: 40px;
	width: 100%;
	background-color: #111;
	background-image: linear-gradient(#515151,#333);
	margin-bottom: 25px;
}

.navigation > a > div {
	width: 188px;
	height: 40px;
	padding-top: 9px;
	float: left;
	text-align: center;
}

.navigation > a > div:hover, .navigation > a > div:active {
	background-color: #333;
	color: #EE7F00;
}

.navigation > a {
	text-decoration: none;
	color: #ccc;
}

output {
    font-size: 12px;
    color: #555;
    position: absolute;
    bottom: 29px;
    margin-left: 1px;
}

.sidenavigationplaceholder {
	width: 188px;
	min-height: 500px;
	float: left;
	margin-right: 25px;
}

.sidenavigation {
	background-color: #515151;
	background-image: linear-gradient(#515151,#333);
	width: 188px;
	min-height: 500px;
	float: left;
	margin-right: 25px;
}

.sidenavigation > a > div {
	width: 188px;
	min-height: 31px;
	padding-top: 9px;
	padding-bottom: 9px;
	float: left;
	text-align: center;
}

.sidenavigation > a > div:hover, .sidenavigation > a > div:active {
	background-color: #333;
	color: #EE7F00;
}

.sidenavigation > a {
	text-decoration: none;
	color: #ccc;
}

.content {
	width: 81%;
	float: left;
}

#pmoLoader{
	display: none;
}

#pmoOK{
	display: none;
}

#glLoader{
	display: none;
}

#glOK{
	display: none;
}
